@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@500&family=Playpen+Sans:wght@100&display=swap');

body{
    background-color: rgb(250, 228, 220);
}

.pealkiri{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: brown;
    position: relative;
    animation: pealkiri;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes pealkiri{
    0% {top: -250px;}
    100% {top: 0px;}
}

.pilt{
    width: 300px;
    display: block;
    margin: auto;
    padding-bottom: 1rem;
    border-radius: 5%;
    position: relative;
    animation: pilt;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes pilt{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.koostisosad{
    margin: auto;
}

.koostisosadetabel{
    border: 3px solid grey;
    margin: 0 auto;
}

.alapealkiri{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: brown;
}

.valmistamine{
    border: 3px solid grey;
    width: 50%;
    margin: 0 auto;
}

.link{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: brown;
    position: relative;
    animation: link;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes link{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.footer{
    font-family: 'Dancing Script', cursive;
    text-align: center;
}